@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Navbar styling */
  .navbar {
    background-color: #333;
    overflow: hidden;
    font-family: 'Rubik Doodle Shadow';
    text-transform: uppercase;
    font-size: large;
  }
  
  .navbar .logo {
    float: left;
    padding: 10px 0px;
  }
  
  .navbar nav ul {
    list-style: none;
    float: right;
  }
  
  .navbar nav ul li {
    display: inline-block;
  }
  
  .navbar nav ul li a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 14px 20px;
  }
  
  .navbar nav ul li a:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
  }
  
  /* Responsive navigation menu */
  .nav-toggle {
    display: none;
  }
  
  .nav-toggle-label {
    display: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .nav-toggle-label span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: rgb(255, 244, 244);
    margin-bottom: 5px;
  }
  
  @media screen and (max-width: 768px) {
    .nav-toggle-label {
      display: block;
    }
    
    .navbar nav ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #333;
      text-align: center;
    }
  
    .navbar nav ul li {
      display: block;
    }
  
    .navbar nav ul li a {
      padding: 10px 0;
    }
  
    .nav-toggle:checked + nav ul {
      display: block;
    }
  }
  

/* --------------------------- BODY ------------------- */
