@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* --------------------------- HEADER ------------------- */

header img {
    height: 100px;
    margin-top: px;
}

header {
    background-color: rgb(154, 81, 179);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 rgb(53, 1, 45);
}


header * {
    display: inline;
}

header li {
    margin: 50px;
}

header li a {
    color: rgb(254, 254, 254);
    text-decoration: none;
}


/* --------------------------- BODY ------------------- */


body {
    height: 125vh;
    background-image: url();
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}